<!DOCTYPE html>
<html>
<head>

<!-- BASIC HEADER INFORMATION -->

<meta charset="utf-8">
<title>Kolapy</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- STYLE INFORMATION  -->

<link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"></link>
<style> {% include "included_files/kola_css.css" %} </style>
<style> {% include "included_files/tabcontent.css" %} </style>
<style> {% include "included_files/jquery.datepick.css" %} </style>

<!-- JAVASCRIPT INFORMATION -->

<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script> {% include "included_files/dygraph-combined.js" %} </script>
<script> {% include "included_files/view1_js.js" %} </script>
<script> {% include "included_files/view2_js.js" %} </script>
<script> {% include "included_files/tabcontent.js" %} </script>
<script> {% include "included_files/jquery.datepick.js" %} </script>

</head>


<body>
	<header>Welcome to Kolapy</header>

	<ul class="tabs">
		<li><a href="#view1">One Stock</a></li>
		<li><a href="#view2">Two Stocks</a></li>
		<li><a href="#view3">N Stocks</a></li>
		<li><a href="#view4">Structured Settlements</a></li>
	</ul>
	<div class="tabcontents">
		{% include "view1.html" %}
		{% include "view2.html" %}
		
		<div id="view3">content 3</div>
		
		
		{% include "view4.html" %}
	</div>

</body>

</html>