<div id="view4">
	<table id="settlement_table">
		<tr>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Monthly <br> Payment
			</th>
			<th>Number of <br> Payments
			</th>
			<th>Price</th>
		</tr>
		<tr>
			<form id="settlement_form">
				<td><input id="settlement_start" class="date" type="text"
					value=""></td> <br>
				<td><input id="settlement_end" class="date" type="text"
					value=""></td> <br>
				<td><input id="monthly_payment" type="text"></td> <br>
				<td><input id="number_of_payments" type="text"></td> <br>
				<td><input id="settlement_button" type="submit" value="Submit"></td>
			</form>
		</tr>
	</table>
</div>