body
{
	background-color: #F6E8F7;
	position: relative;
	font-size: 90%;
}

header
{
	font-size: 200%;
	padding-top: 25px;
	padding-left: 40px;
	padding-bottom: 25px;
}

input
{
	width: 110px;
	text-align: center;
}

/* The following style sheet selection is for view 1 -- one stock view */


#stats_block
{
	background-color: #FFFFFF;
	display: inline-block;
	vertical-align: top;
	height: 485px;
	width: 400px;
	padding: 10px;
	border: 1px solid black;
}

#view1_graph_block
{
	background-color: #FFFFFF;
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
	width: 800px;
	padding: 20px;
}

#input_block
{
	background-color: #FFFFFF;
	border: 1px solid black;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	width: 400px;
	height: 280px;
	margin-top: 4px;
}

#errors
{
	font-size: 90%;
	color: red;
}


#code_block
{
	display: inline-block;
	vertical-align: top;
	width: 842px;
	margin-top: 4px;
}

.CodeMirror
{
	border: 1px solid black;
}


/*The following style sheet selection is for view 2 -- multiple stock view */

#view2 .input_block
{
	top: 10px;
	left: 40px;
	width: 400px;
	height: 400px;
}

#view2 .graph_block
{
	background-color: #FFFFFF;
	border: 1px solid black;
	top: 10px;
	left: 520px;
	width: 900px;
	padding: 20px;
}

/* The following style sheet selection is for view 4 -- structured settlements */
#settlement_table
{
	position: absolute;
	top: 20px;
	left: 20px;
	border-spacing: 0px; 
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

#settlement_table th, #settlement_table td
{
	background-color: #FFFFFF;
	text-align: center;
	border-left: 1px solid black;
	border-top: 1px solid black;
}

#settlement_table th, #settlement_table td
{
	/*font-size: 80%;*/
}










