body
{
	background-color: #F6E8F7;
	position: relative;
	font-size: 93%;
}

.ui-autocomplete {
	max-height: 100px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}

header
{
	font-size: 200%;
	padding-top: 25px;
	padding-left: 40px;
	padding-bottom: 25px;
}

input
{
	width: 110px;
	text-align: center;
}

/* The following style sheet selection is for view 1 -- one stock view */


.view1_stats_block
{
	background-color: #FFFFFF;
	display: inline-block;
	vertical-align: top;
	height: 465px;
	width: 250px;
	padding: 10px;
	border: 1px solid black;
	margin-left: 10px;
	margin-top: 10px;
}

.view1_graph_block
{
	background-color: #FFFFFF;
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
	width: 900px;
	height: 465px;
	padding: 10px;
	margin-top: 10px;
}

.view1_input_block
{
	background-color: #FFFFFF;
	border: 1px solid black;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	width: 250px;
	height: 280px;
	margin-top: 4px;
	margin-left: 10px;
}

.errors
{
	font-size: 90%;
	color: red;
}


.code_block
{
	display: inline-block;
	vertical-align: top;
	width: 922px;
	margin-top: 4px;
}

.CodeMirror
{
	border: 1px solid black;
}


/*The following style sheet selection is for view 2 -- multiple stock view */


.view2_stats_block
{
	background-color: #FFFFFF;
	display: inline-block;
	vertical-align: top;
	height: 750px;
	width: 250px;
	padding: 10px;
	border: 1px solid black;
	margin-left: 10px;
	margin-top: 10px;
}

.view2_graph_block
{
	display: inline-block;
	vertical-align: top;
	background-color: #FFFFFF;
	border: 1px solid black;
	margin-top: 10px;
	width: 900px;
	padding: 10px;
}

/* The following style sheet selection is for view 4 -- structured settlements */
.settlement_table
{
	position: absolute;
	top: 20px;
	left: 20px;
	border-spacing: 0px; 
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

#settlement_table th, #settlement_table td
{
	background-color: #FFFFFF;
	text-align: center;
	border-left: 1px solid black;
	border-top: 1px solid black;
}

#settlement_table th, #settlement_table td
{
	/*font-size: 80%;*/
}










