body
{
	background-color: #431256;
	position: relative;
}

header
{
	background-color: #431256;
	color: #FFFFFF;
	font-size: 200%;
	padding-top: 25px;
	padding-left: 40px;
	padding-bottom: 25px;
}

input
{
	width: 110px;
	text-align: center;
}

.input_block
{
	background-color: #FFFFFF;
	position: absolute;
	border: 1px solid black;
	padding: 20px;
}

.graph_block
{
	background-color: #FFFFFF;
	border: 1px solid black;
	position: absolute;
}

/* The following style sheet selection is for view 1 -- one stock view */
#view1 .input_block
{
	
	top: 10px;
	left: 40px;
	height: 630px;
	width: 400px;
}

#errors
{
	font-size: 90%;
	color: red;
}

#stats_block
{
	height: 100px;
	width: 300px;
	border: 1px solid black;
}

#view1 .graph_block
{

	top: 10px;
	left: 520px;
	width: 900px;
	padding: 20px;
}

/*The following style sheet selection is for veiw 2 -- multiple stock view */

#view2 .input_block
{
	top: 10px;
	left: 40px;
	width: 400px;
	height: 400px;
}

#view2 .graph_block
{
	top: 10px;
	left: 520px;
	width: 900px;
	padding: 20px;
}

/* The following style sheet selection is for view 4 -- structured settlements */
#settlement_table
{
	position: absolute;
	top: 20px;
	left: 20px;
	border-spacing: 0px; 
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

#settlement_table th, #settlement_table td
{
	background-color: #FFFFFF;
	text-align: center;
	border-left: 1px solid black;
	border-top: 1px solid black;
}

#settlement_table th, #settlement_table td
{
	/*font-size: 80%;*/
}










